REACT_APP_SUPABASE_URL=https://ityrrresltvehplcrmqp.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0eXJycmVzbHR2ZWhwbGNybXFwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxMjkxMDIsImV4cCI6MjA5MDcwNTEwMn0._ecOQhoswRrTYOZC2s1gr01T0TsLA2T1aS38vtHTuX4
